<%= form_for(@progress) do |f| %>
  <% if @progress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
      <% @progress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :users_id %><br>
    <%= f.number_field :users_id %>
  </div>
  <div class="field">
    <%= f.label :call %><br>
    <%= f.number_field :call %>
  </div>
  <div class="field">
    <%= f.label :preplan %><br>
    <%= f.number_field :preplan %>
  </div>
  <div class="field">
    <%= f.label :plan %><br>
    <%= f.number_field :plan %>
  </div>
  <div class="field">
    <%= f.label :closure %><br>
    <%= f.number_field :closure %>
  </div>
  <div class="field">
    <%= f.label :tracking %><br>
    <%= f.number_field :tracking %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
